<!DOCTYPE html>

<html lang="en">

<head>
    <title>Tech Blog</title>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![end if]-->
    <meta charset="utf-8">
    <meta name="keywords" content="blog, writing, personal, technology, sharing, information">
    <meta name="description" content="Compilation of blogs based around technology">
    <meta name="author" content="Stephanie Melanofridis">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/snr3mmz.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"
        async="false"></script>
</head>

<body>

    <header>
        <!-- ********** NAVIGATION ********** -->
        <nav class="navbar">
            <a href="#main-content" title="Skip to main content" class="skip d-none">Skip to main content</a>
            <ul class="container d-flex flex-row justify-content-end list-unstyled">
                <li class="nav-item"><a href="/" title="Homepage" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/dashboard" title="Dashboard" class="nav-link">Dashboard</a></li>
                {{#if logged_in}}
                <li class="nav-item"><a href="/" title="Logout" class="nav-link logout">Logout</a></li>
                {{else}}
                <li class="nav-item"><a href="/loginsignup" title="Login / Sign Up" class="nav-link">Login / Sign Up</a>
                </li>
                {{/if}}
            </ul>
        </nav>
        <!-- ********** NAME TITLE ********** -->
        <div class="container page-container d-flex pt-5 justify-content-evenly">
            <div>
                <h1 class="title mb-0">Tech Blog</h1>
                <p class="headline mt-0 ms-5">Create. Share. Learn </p>
            </div>
            <img src="/images/bgrd-img2Artboard 2.png" class="logo img-fluid">
        </div>
    </header>

    <main id="main-content" class="container-fluid">

        {{{body}}}

    </main>


    <footer>
        <div class="container d-flex justify-content-center">
            <div class="pt-2">
                <a class="top list-unstyled" href="#main-content">Back to top</a>
                <p class="copyright">&copy; Steph Melanofridis</p>
            </div>
        </div>
    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>



</html>