<div class="p-6 m-6">
    <div class="d-grid w-50 p-6 m-6 position-relative top-50 start-50 translate-middle">
        <a href="/newpost"><button class="add-new-blog btn mt-5" type="button">Add new blog post</button></a>
    </div>
</div>
{{#if posts}}
{{#each posts as |post|}}
{{>dashboard-details}}
{{/each}}
{{else}}
<h2> No posts yet.</h2>
{{/if}}
{{#if posts}}
<script src="js/deletepost.js"></script>
{{/if}}