<section class="card row w-100 m-1 px-4">

    <div class="card-body d-flex flex-row col-auto w-100 px-4">

        <!-- ********** LOGIN ********** -->
        <div class="d-flex flex-column w-50 px-4">
            <div>
                <h2 class="form-title text-center">Login</h2>
                <form class="form login-form">
            </div>
            <div class="form-group p-4">
                <label for="login-username" class="col-form-label">Username:</label>
                <input type="text" id="login-username" class="form-input form-control">
            </div>
            <div class="form-group p-4">
                <label for="login-password" class="col-form-label">Password:</label>
                <input type="password" id="login-password" class="form-input form-control">
            </div>
            <div class="form-group p-4">
                <button class="login-btn btn mx-3 w-100" type="submit">Login</button>
            </div>
            </form>
        </div>

        <!-- ********** SIGN UP ********** -->
        <div class="d-flex flex-column w-50 px-4">
            <div>
                <h2 class="form-title text-center">Signup</h2>
                <form class="form signup-form">
            </div>
            <div class="form-group p-4">
                <label for="signup-username" class="col-form-label">Username:</label>
                <input type="text" id="signup-username" class="form-input form-control">
            </div>
            <div class="form-group p-4">
                <label for="signup-password" class="col-form-label">Password:</label>
                <input type="password" id="signup-password" class="form-input form-control">
            </div>
            <div class="form-group p-4">
                <button class="signup-btn btn mx-3 w-100" type="submit">Sign Up</button>
            </div>
            </form>
        </div>

    </div>

</section>

<script src="/js/loginsignup.js"></script>