<section class="container d-flex">

    <div>
        <h2>Login</h2>
        <form class="login-form">
            <label for="login-email">Email:</label>
            <input type="text" id="login-email">
            <label for="login-password">Password:</label>
            <input type="password" id="login-password">
            <button class="btn" type="submit">Login</button>
        </form>
    </div>

    <div>
        <h2>Signup</h2>
        <form class="signup-form">
            <label for="signup-username">Username:</label>
            <input type="text" id="signup-username">
            <label for="signup-email">Email:</label>
            <input type="text" id="signup-email">
            <label for="signup-password">Password:</label>
            <input type="password" id="signup-password">
            <button class="btn" type="submit">Sign Up</button>
        </form>
    </div>

</section>

<script src="./js/loginsignup.js"></script>