/* ---------- COLOURS ---------- */
:root {
    --purple: #B298DC;
    --orange: #FA7267;
    --champagne: #EEE0CB;
    --darkpurple: #424BE1; 
    --lightblue: #BDD1F9;
    --black: #000000;
}

/* ---------- NAVIGATION STYLES ---------- */
nav {
    background-color: var(--lightblue);
}

nav ul li {
    padding-left: 50px;
    font-family: acier-bat-solid,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7em;
}
.nav-item a:link {
    color: var(--darkpurple);
    text-decoration: none;
}

.nav-item a:visited {
    color: var(--darkpurple);
    text-decoration: none;
}

.nav-item a:hover {
    color: var(--orange);
    text-decoration: none;
}

.nav-item a:active {
    color: var(--darkpurple);
    text-decoration: none;
}

/* ---------- LOGO IMAGE STYLES ---------- */
.logo {
    width: 300px;
    height: 200px;
}

/* ---------- HEADER STYLES ---------- */
.title {
    font-family: sunflower,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: lowercase;
    font-size: 5.5em;
    color: var(--darkpurple);  
    text-shadow: 2px 2px 8px var(--orange); 
}

.headline {
    font-family: raleway, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.5em;
    color: var(--orange); 
}

/* ---------- FOOTER STYLES ---------- */
footer {
    background-color: var(--lightblue);
}

.top {
    font-family: acier-bat-solid,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7em;
}

.top:link {
    color: var(--darkpurple);
    text-decoration: none;
}

.top:visited {
    color: var(--darkpurple);
    text-decoration: none;
}

.top:hover {
    color: var(--orange);
    text-decoration: none;
}

.top:active {
    color: var(--darkpurple);
    text-decoration: none;
}

.copyright {
    font-family: raleway, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--darkpurple); 
}

/* ---------- LOGIN/SIGNUP HANDLEBARS ---------- */
.btn {
    box-shadow: 2px 2px 8px var(--orange);
}

.form-group .btn:hover {
    color: white;
    background-color: var(--darkpurple);
    box-shadow: 2px 2px 8px var(--orange);
}

/* ---------- DASHBOARD HANDLEBARS ---------- */
.add-new-blog.btn {
    font-size: 1.4em;
}

.add-new-blog.btn:hover {
    color: white;
    background-color: var(--darkpurple);
    box-shadow: 2px 2px 8px var(--orange);
}

button.deleteBtn {
    color: white;
    background-color: #E61C26;
}

.post-card .btn:hover {
    color: white;
    background-color: var(--darkpurple);
    box-shadow: 2px 2px 8px var(--orange);
}

.no-posts, .poster {
    font-style: italic;
    color: lightslategrey;
    font-weight: 300;
    font-size: 20px;
    padding: 10px 40px;
}

/* posts */

a.home-post-view:hover {
    color: white;
    background-color: var(--darkpurple);
    box-shadow: 2px 2px 8px var(--orange);
}

button.edit-post-btn:hover {
    color: white;
    background-color: var(--darkpurple);
    box-shadow: 2px 2px 8px var(--orange);
}


button.new-post-btn:hover {
    color: white;
    background-color: var(--darkpurple);
    box-shadow: 2px 2px 8px var(--orange);
}